<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del Egresado - <%= egresado.nombre %></title>
    <link rel="stylesheet" href="/styles.css">
    <style>
             body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px 0;
}

header h1 {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin: 0;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ccc;
}

.profile {
    text-align: center;
    padding: 50px 0;
}

.profile h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.profile p {
    font-size: 1.2em;
    margin: 10px 0;
}

.vacantes {
    padding: 50px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.vacantes h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin: 10px 0;
}

.acciones button {
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.acciones button:hover {
    background-color: #555;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}
    </style>
</head>
<body>
    <header>
        <h1>Perfil del Egresado: <%= egresado.nombre %></h1>
        <nav>
            <ul>
                <li><a href="/views/home.ejs">Inicio</a></li>
                <li><a href="/logout">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <section class="profile">
        <h2>Información del Egresado</h2>
        <p>Nombre: <%= egresado.nombre %></p>
        <p>Email: <%= egresado.email %></p>
    </section>
</body>
</html>
